/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #288feb;
  text-decoration: none; 
  border-bottom: 1px solid #288feb;
}

.home {
    background:url('img/hero/university-pano-smaller.jpg') no-repeat center center;
    height:100%;
    background-size:cover;
}

/* Base */
body {
	/*background-color: white;*/
}

.container-fluid {
	padding:10px;
	max-width: 1280px;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
}

.nav-wrapper {
    background-color: #288feb;
    width: 100%;
}
.masthead {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 10px;
}

.masthead-brand img {
 	max-height: 50px;
 	padding-bottom: 5px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  border-bottom: 2px solid transparent;
  color: #fff;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/* Forms */

.loginForm {
	margin: 0 auto 0 auto;
	/*width: 400px;*/
	padding: 30px;
	border-radius: 3px;
	background-color: white;
	max-width: 400px;
}

.loginForm legend {
	text-align: center;
	font-weight: 300;
	color: #565656;
	margin: 0 auto 0;
	font-size: 35px;
	border: 0;
}

.loginForm input, .loginForm button,
.hero-home input, .hero-home button {
    height: auto;
    margin: 20px auto;
    padding: 15px;
}

.loginForm input {
	background: #fcfcfc;
	border: 2px solid #e7e7e7;
	width: 100%;
	display: block;
	font-size: 18px;
	text-align: left;
}

.loginForm button {
	color: white;
	background: #15CD72;
	border: 0;
	font-weight: 500;
	font-size: 22px;
	margin-bottom: 0;
}

.loginForm a {
    color: #565656; 
    text-decoration: none; 
    border-bottom: 1px solid #565656;
}

.login p {
	text-align: center;
	color: white;
}

.login {
    background-color: #288feb;
}

.login .masthead {
    max-width: 400px;
}

.paymentForm input {
	padding: 15px;
	border: 2px solid #e7e7e7;
	font-size: 18px;
}

.paymentForm .smallWidth {
	width:80%;
}

/* main stuff */

.main-wrapper {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
	background-color: #f3f5f7;
}

.main {
    padding: 20px;
}
.main-hero {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-hero .glyphicon {
    font-size: 90px;
    text-align: center;
}

.title-light {
    font-weight: 200;
}

.title-semi-light {
    font-weight: 300;
}
.main-hero h2 {
    font-size: 36px;
}
.main-hero p {
    font-size: 16px;
    line-height: 28px;
}

.main-hero-sub h3 {
    font-size: 26px;
}

.main-top-search {
    text-align: left;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.main-top-search p {
    font-size: 16px;
    padding-top: 5px;
}

.main-top-search form {
    padding-left: 10px;
}

.main h1 {
    font-weight: 300;
}

h1 {
	font-weight: 300;
	color: #09283d;
}

/* activation page */
.activate, .planChooser {
	text-align: center;
}

.planChooser ul {
	list-style: none;
	text-align:center;
	padding: 10px;
}

.planChooser li {
	padding: 5px;
}

.planRadioBtns label {
	width: 40%;
	margin: 0 0 10px 0;
}


/* user nav menu */
.userNav a {
	color: #09283d;
	font-weight: 700;
}

.userNav p {
	margin-bottom: 10px;
}

/* misc */

p.asterisk {
	font-size: small;
	padding-top: 10px;
}

.multiResults {
	padding-bottom: 15px;
}

/*
 * Footer
 */

.mastfoot {
  color: #288feb;
  padding-top: 10px;
  text-align:center;
}

/* Invite Page Styles */

.invite img {
	max-width: 20%;
}

.invite p, .invite h1 {
	text-align: center;
}


.hero-container {
    padding-top: 0;
    width: 100%;
}
.nav-hero-container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    /*background-color: #1b5a84;*/
}
.hero {
    text-align: center;
    font-weight: 300;
}
.hero h1 h2 h3 p {
    font-weight: 300;
}


/* results page */
@media (min-width: 768px) {
  .book-results h2 {
      padding-bottom: 5px;
  }
}


.bookTitle {
    padding-left: 15px;
    font-size: 22px;
}

.btnCollapse {
    display: block;
    width: 100%;
}